[Desktop Entry]
Type=Application
Name=Lê-XML
Comment=Leitor e editor de arquivos XML em tabela
Exec=lexml-gtk %f
Icon=br.dev.schuh.lexml
Terminal=false
Categories=Office;Utility;
MimeType=application/xml;
StartupWMClass=br.dev.schuh.lexml
